* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    color: white;
  }
  .home-component {
    background-color: rgba(64, 65, 122, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-component > button{
      width:20%;
      height:5%;
      border: none;
      border-radius: 1em;
      background-color: rgba(87,184,69,255);
      color: white;
      cursor: pointer;
      outline: none;
      font-size: 1em;
  }